* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
}
a{
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: white;
}
.main {
  width: 100%;
  height: 100%;
  /* background-color: chocolate; */
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}
.header-control {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 10;
}

.a {
  color: red;
  font-family: sans-serif;
  font-size: 25px;
}
.header-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-title li {
  list-style-type: none;
  display: inline-block;
  padding: 7px;
  height: 40px;
  font-size: 16px;
  color: rgb(6, 6, 83);
  cursor: pointer;
  font-weight: 400;
}
.header li:hover {
  color: red;
}
.b {
  border: 2px solid red;
  border-radius: 25px;
  background-color: red;
  color: white !important;
  padding: 20px 20px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  scroll-behavior: smooth;
}
.b:hover {
  background-color: white;
}

.home {
  margin-top: 90px;
  width: 100%;
  height: 650px;
  background: url(./bg0.webp) top center no-repeat;
  background-size: cover;
  position: relative;
}

.hone-add {
  background: #000;
  opacity: 0.39;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-page {
  max-width: 1140px;
  margin: 0 auto;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  width: 500px;
  z-index: 1;
}
.aw {
  width: 550px;
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
}
.ct i {
  margin-top: 25px;
  padding: 15px 20px;
  font-size: 30px;
  color: red;
  border: 1px solid white;
  border-radius: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.play {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 25px;
}
.play p {
  /* transform: translateY(47); */
  text-decoration: underline;
  color: white;
  font-size: 18px;
}

.ct i:hover {
  color: white;
  background-color: transparent;
}
.form-container {
  
  width: 420px;
  height: 450px;
  background-color: white;
  padding: 35px;
  border-radius: 5px;
  z-index: 1;
}
.formDone{
  display: none;
}
.hidden{
  display: none !important;
}
.see{
  display: block !important;
}
.input-group {
  padding: 5px;
  font-size: 10px;
}
.input-group input {
  width: 320px;
  height: 50px;
  border: 1px solid rgb(222, 220, 220);
  background-color: rgb(252, 251, 251);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.input-group select {
  width: 320px;
  height: 50px;
  border: 1px solid rgb(222, 220, 220);
  background-color: rgb(252, 251, 251);
  border-radius: 5px;
  padding-left: 20px;
}
button.btn {
  width: 320px;
  height: 50px;
  border: 1px solid rgb(222, 220, 220);
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-top: 15px;
  transform: translateX(5px);
  font-size: 13px;
  font-weight: bolder;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(24, 159, 53);
}

.note {
  font-size: 10px;
  color: grey;
  font-size: 15px;
  margin-top: 10px;
  transform: translateX(5px);
}
.image {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.ige{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
color: #071e55
}
.image img {
  width: 130px;
  height: 60px;
  opacity: 0.5;
}
img:hover {
  opacity: 1;
}
.content3 {
  width: 100%;
  height: 500px;
  background-color: rgb(240, 249, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Whatwedo {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ttabout {
  font-family: sans-serif;
  text-align: center;
}

.icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  gap: 80px;
}
.icon-content i {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-size: 40px;
}

.blue {
  width: 250px;
  text-align: center;
  transition:all .3s ease-in-out ;
}
.blue:hover {
  transform: scale(1.05);
}

.red {
  width: 250px;
  text-align: center;
  transition: all .3s ease-in-out;
}
.red:hover {
  transform: scale(1.05);
}
.green {
  width: 250px;
  text-align: center;
  transition: all .3s ease-in-out;
}
.green:hover {
  transform: scale(1.05);
}

.icon-content h4 {
  margin: 10px;
  margin-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
}
.icon-content p{
  font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.y {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  padding-top: 35px;
  color: rgb(5, 5, 83);
}

.content4 {
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.content4 img {
  width: 500px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.cont {
  width: 500px;
}
.cont i {
  color: red;
  font-weight: bold;
  margin-right: 5px;
}
.cont h3 {
  font-size: 30px;
  margin-bottom: 15px;
  color: rgb(7, 7, 106);
}
.cont p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.cont li {
  margin: 10px 0px;
  list-style-type: none;
  color: #7c8595;
  font-size: 17px;
}
.cont button {
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  border-color: red;
  background-color: rgb(219, 45, 45);
  margin: 20px 0px;
  font-size: 17px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
.cont button:hover {
  box-shadow: 0px 10px 15px rgba(37, 33, 33, 0.5);
}
.content5 {
  width: 100%;
  height: 600px;
  background-color: rgb(240, 249, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.ic i {
  border: 1px solid rgb(244, 239, 239);
  border-radius: 100%;
  padding: 18px;
  font-size: 40px;
  background-color: rgb(252, 251, 251);
}
.ic {
  width: 508px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  padding: 10px 20px 10px 20px;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.ic:hover {
  background-color: white;
  box-shadow: 0 4px 8px rgba(165, 159, 159, 0.1);
  border-radius: 6px;
}
.cont-left p {
  color: rgb(168, 166, 166);
  font-family: 16px;
}
.cont-left h4 {
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 4px;
  color: rgb(5, 5, 83);
}

.in {
  margin-left: 20px;
  height: 50px;
  margin-bottom: 60px;
}
.cont-right img {
  width: 500px;
  height: 400px;
}
.content6 {
  width: 100%;
  height: 400px;
  background-color: #e52f37;
}
.tit {
  text-align: center;
  /* margin: 20px 0px; */
  padding-top: 100px;
  padding-bottom: 40px;
  color: white;
}
.icon-ct6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.icon-ct6 h3{
  font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}
.ic1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.icon-ct6 i {
  font-size: 50px;
}
.content7 {
  width: 100%;
  min-height: 800px;
  background-color: #f1faff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-7 {
  display: flex;
  gap: 170px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.left {
  width: 422px;
}
.left h1 {
  font-size: 38px;
  line-height: 1.25;
  color: #071e55;
  font-weight: 700;
}
.left p {
  font-size: 18px;
}

.z p {
  margin: 20px 0px;
  color: #7c8595;
}
.right {
  width: 500px;
  margin-top: 100px;
}
.card_body {
  
  padding: 10px 0px 10px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  min-width: 530px;
  
  box-shadow: 5px 5px 10px rgba(91, 91, 91, 0.2);
}
.under-text{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
}
.texts{
  
  display: none;
}
.texts.show{
  display: block;
}
.texts p{
  padding: 20px 25px 5px 25px;
    border-top: none;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7c8595;
    font-style: italic;
}
.card-1 {
  margin: 21px 0px;
  border-left: 7px solid rgb(54, 167, 92);
  cursor: pointer;
}

.card_body img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.under-text p {
  text-align: center;
  color: #071e55;
  font-weight: bolder;
  font-size: 17px;
}
.card_body span {
  color: #27b36a;
}
.start {
  display: flex;
  gap: 20px;
}
.start i {
  color: #fdcc28;
}
.start p {
  color: #071e55;
  font-weight: 600;
}
.start-right {
  border-left: 0.5px solid rgb(223, 186, 138);
  padding-left: 30px;
}

.content8 {
  width: 100%;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .content-8{
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.content8 .title {
  text-align: center;
}
.content8 h1 {
  color: #071e55;
  font-size: 36px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.content8 h4 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 50px;
  color: #7c8595;
}
.pic-left-right img {
  width: 370px;
  height: 300px;
  cursor: pointer;
}
.pics:hover .picsub{ 
  opacity: 0.7;
  visibility: visible;
  transition: all .3s ease-in;} 



.picsub{
  position: absolute;
  top: 10px;
  right:10px ;
  bottom: 20px;
  left: 10px;
  background-color: #e52f37;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;

}
.pics{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

}
.picsub i{
  font-size: 50px;
  color: white;
  font-weight: 600;
  

}
.picture1 {
  position: relative;
  cursor: pointer;
}
.picture1::before {
  content: "+";
  background-color: red;
  visibility: hidden;
  top: 5px;
  bottom: 20px;
  left: 8px;
  right: 8px;
  position: absolute;
  transition-delay: 0.1s;
}

.picture1:hover::before {
  visibility: visible;
  opacity: 0.6;
}
.pic-center img {
  width: 370px;
  height: 600px;
}
.pic-center {
  position: relative;
  cursor: pointer;
}
.pic-center::before {
  content: "";
  background-color: red;
  top: 15px;
  bottom: 25px;
  left: 10px;
  right: 10px;
  position: absolute;
  visibility: hidden;
  transition-delay: 0.1s;
}

.pic-center:hover::before {
  visibility: visible;
  opacity: 0.6;
}
.content8 .pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* .pictures img ::before{
    content: "";
    
}
.pictures img:hover::before{
    visibility: visible;
    opacity: 0.5;
} */

.content9 {
  width: 100%;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1faff;
}
.content9 .titless {
  text-align: center;
  /* transform: translateX(50px); */
}
.content9 .titless h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #071e55;
}
.content9 .titless h4 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #7c8595;
  margin-bottom: 50px;
}

.pi img {
  width: 350px;
  height: 370px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content9 .body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.body1 {
  background-color: white;
  width: 350px;
  height: 640px;
  border-radius: 10px;
}
.body .contentss {
  width: 294px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
   justify-content: center;
   transform: translateX(18px);
  /* transform: translateX(20px); */
}
.body .contentss h4 {
  font-size: 17px;
  font-weight: lighter;
  color: #acacac;
  font-style: italic;
  margin-top: 0px;
}
.border {
  width: 50px;
  border-bottom: 3px solid red;
 
  margin-top: 20px;
  margin-bottom: 20px;
}
.body .contentss h3 {
  margin-top: 20px;

  color: #454545;
  font-size: 18px;
  font-weight: 700;
}
.body .contentss p {
  font-size: 17px;
  color: #7c8595;
}
.content10 {
  width: 100%;
  height: 450px;
  background-color: #e52f37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ndung p {
  width: 610px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 35px;
  line-height: 28px;
  text-align: center;
}
.ndung h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 39px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: center;
}
.content10 .button {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content10 .button button {
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  border-radius: 22px;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
}
.button-left button {
  color: #e52f37;
  background-color: white;
}
.button-right button {
  color: white;
  background-color: #e52f37;
  transition: all 0.3s ease-in-out;
}
.button-right button:hover {
  color: #e52f37;
  background-color: white;
}
.content10 .button button:hover {
  box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.37);
  transition: all 0.3s ease-in-out;
}

.content11 {
  width: 100%;
  height: 650px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .content-11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.content-11 .titles {
  text-align: center;
  margin-bottom: 50px;
}
.content-11 .titles h1 {
  font-size: 38px;
  color: #071e55;
  font-weight: 700;
}
.content-11 .titles p {
  font-size: 18px;
  line-height: 28px;
  color: #7c8595;
  font-weight: 400;
}

.content11 .i {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  width: 380px;
  margin-bottom: 50px;
  flex-wrap: wrap;

}
.nd{
  width: 260px;
}
.cont-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.i i {
  font-size: 50px;
  transform: translateY(-32px);
}
.nd h4 {
  font-size: 20px;
  color: #071e55;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;
  margin-bottom: 15px;
  margin-left: 0px;
}
.nd p {
  font-size: 18px;
  line-height: 28px;
  color: #7c8595;
  font-weight: 400;
}
.content12 {
  width: 100%;
  height: 750px;
  background-color: #f1faff;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 70px;
}
.content-12 {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 70px;
}
.content-12 .words {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-12 .words h1 {
  color: #071e55;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.2;
}
.content-12 .words p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.card{
  display: flex;
  gap: 70px;
}

.content12 .card-shorter {
  width: 310px;
  height: 455px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(15px);
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(228, 218, 218, 0.2);
  transition: all 0.3s ease-in-out;
}
.content12 .card-shorter:hover {
  transform: scale(1.05);
}
.content12 .card-longer:hover {
  transform: scale(1.05);
}

.card-shorter .per h4 {
  color: #6a6a6a;
}
.card-shorter .footer p {
  color: #6a6a6a;
}
.card-longer .footer p {
  color: white;
}

.content12 .card-longer {
  width: 330px;
  height: 485px;
  background-color: #e52f37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.time h3 {
  font-weight: 200;
}
.money h1 {
  font-size: 70px;
  font-weight: 300;
  padding-top: 0px;
}
.per h4 {
  font-weight: 200;
  padding-top: 0px;
  margin-top: 0px;
  transform: translateY(-20px);
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.get-start button {
  padding: 15px 27px;
  border-radius: 20px;
  color: #e52f37;
border: 1px solid white;
  background-color: white;
  margin: 20px 0px;
 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  font-weight: 700;
}
.get-start a{
  font-size: 12px;
}
.card-shorter .get-start button:hover{
  color: #fff;
}
.card-longer .get-start button:hover{
  background-color: #e52f37;
  color: white;
  
}
.content13 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.content-13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.content13 .titles13 {
  text-align: center;
}
.content13 .titles13 h1 {
  font-weight: 700;
  color: #071e55;
  font-size: 38px;
}

.content13 .titles13 p {
  color: #7c8595;
  font-size: 17px;
}
.content13 .ques-ans {
  display: flex;
  align-items: center;
  
  justify-content: center;
  gap: 50px;
}
.ques-ans .le-rig {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 500px;
}
.le-rig h3 {
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 15px;
  color: #071e55;
  font-weight: 700;
  font-size: 18px;
}
.le-rig p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.content14 {
  width: 100%;
  height: 770px;
  background-color: #e52f37;
  display: flex; 
  flex-direction: column;
   align-items: center;
  justify-content: center;
}
.content-14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px; 
}
.contact {
  text-align: center;
}
.contact h1 {
  font-size: 35px;
  color: white;
}
.contact p {
  color: white;
  margin-bottom: 50px;
  margin-top: 5px;
  font-size: 17px;
}

.gr-colum {
  display: flex;
  
  gap: 30px;
}
.group {
   display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 5px; 
}
.form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}
.ip-gr input {
  width: 350px;
  height: 60px;
  border: 2px solid white;
  background-color: #e52f37;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.Choice select {
  width: 350px;
  height: 60px;
  border: 2px solid white;
  background-color: #e52f37;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  color: white;
  font-size: 16px;
}
.mess input {
  width: 730px;
  height: 180px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid white;
  background-color: #e52f37;
  padding-left: 10px;
  border-radius: 5px;
}
.contact-submit {
  width: 300px;
  height: 60px;
  font-size: 13px;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}
.content15 {
  display: flex;
  gap: 450px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.footer-social {
  display: flex;
  gap:20px;
  list-style-type: none;
}
.footer-le{
  display: flex;
  font-size: 18px;
}
.footer-le a{
  color: #e52f37;
  text-decoration: underline;
}
.footer-le span{
  font-weight: 700;
}
.footer-social i {
  font-size: 25px;
}


/* NAVBAR */
.header-btn {
  font-size: 24px;
  color: red;
  border-radius: 10px;
  border: 1px red solid;
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.Notification h1{
  font-size: 38px;
  color: white;
  font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    font-weight: 700;
}

.Notification p{
  display: inline-block;
    color: #fff;
    border: 1px solid #eee;
    padding: 25px 25px;
    font-size: 19px;
    text-shadow: none;
    font-style: italic;
    border-radius: 8px 8px;
    margin: 15px 0;
}
.Notification {
  display: none;
}

#contact-success {
  background-color: #e52f37;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* RESPONSIVE */
/* Mobile */

/* Tablet && Mobile */
@media (max-width: 991px)and (min-width:767px )
 {
  .header-title {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 100px;
    padding-bottom: 20px;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .header-btn {
    display: block;
  }
  .header {
    max-width: 720px;
    margin: 0 auto;
  }
  #header:checked + .header-title {
    display: flex;
  }
  /* .ct{
    width: 300px;
    padding-right: 0px;

  } */
   .home{
    height: 700px;
   }
  .content{
    width: 300px;
  }
  .aw{
    width: 300px;
    line-height: 44px;
    font-family: 'Nunito', sans-serif;
   
  }
  /* .aw h1{
    font-size: 38px;
        line-height: 44px */
        .home-page{
          gap: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        .form-container{
          width: 250px;
          height: 520px;
          display: flex;
          
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0px;
        }
        .input-group{
          height: 60px;
        }
        .input-group input{
          width: 175px;
        }
        .input-group select{
          width: 175px;
        }
        button.btn{
          width: 175px;
        }
    .image{
      height: 220px;
      
    }
    .ige{
      width: 500px;
      flex-wrap: wrap;
    }
    .content3{
      height: 650px;
      
    }
    .Whatwedo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .blue{
    width: 155px;   
    transition: all .3s ease-in-out;
  }
  
  .red{
  width: 155px;
  }
  .green{
    width: 155px;
  }
  .icon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 80px;
  }
  .content4{
    height: 720px; ;
  }
  .content4 img{
    width: 320px;
    height:240px ;
  }
  .cont{
    width: 320px;
  }
  .ic1{
    width: 80px;
  }
  .content6{
    height: 450px;
    margin: 0 auto;
  }
  
  .icon-ct6{
    gap: 40px;
  }
  .content7 .left{
    width: 280px;
  }
  .ic-start{
    flex-wrap: wrap;
  }
  .start-left{
    width: 70px;
  }
  .start-right{
    width: 100px;
  }
  .card_body{
    width: 320px;
    flex-wrap: nowrap;
  }
  .content-7{
    gap: 100px;
    margin: 0 auto;
  }
  
    .content-7 .right{
      width: 350px;
    }
    .content8{
      height: 720px; ;
    }
    .picture1 img{
      width: 220px;
      height: 180px;
    }
    .pic-center img{
      width: 220px;
      height: 370px;
    }
    .content9 .body1{
      width: 200px;
     
    }
    .pi img{
      width: 200px;
      height: 210px;
    }
    .pi .contentss{
      width: 160px;
    }
    
    .content10{
      height:500px ;
    }
    .content11{
      height: 950px;
    }
    .contents{
      width: 343px;
    }
    .contents p{
      width: 400px;
    }
    .ndung .button button{
      font-size: 15px;
    }
    .cont-icon .i {
      width: 160px;
      gap: -5px;
    }
    .i i{
      transform: translateY(10px);
    }
    .content-12{
      gap: 45px;
    }
    
    .content12 .card-shorter {
      width: 180px;
      height: 455px;
      
    }
    .content12 .card-longer {
      width: 180px;
      height: 485px;
      
    }
    .content-12 .words {
      width: 200px;
      
    }
    .content13{
      height: 750px;
    }
    .ques-ans .le-rig {
      
      width: 300px;
    }

    .ip-gr input {
      width: 200px;
      height: 50px;
      
    }
    
    .Choice select {
      width: 200px;
      height: 50px;
     
    }
    .mess input {
      width: 430px;
      height: 130px;
      
    }
    .contact-submit {
      width: 400px;
      height: 60px;
      font-size: 13px;
      color: red;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid white;
      cursor: pointer;
    }

}


  
/* Mobile */
@media (max-width: 767px) {

  .header-title {
    padding-left: 10px;
  }
  .header-title {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
   
    padding-bottom: 20px;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .header-btn {
    display: block;
    margin-left: 100px;
  }
  .header {
    max-width: 720px;
    margin: 0 auto;
  }
  #header:checked + .header-title {
    display: flex;
  }
  .home{
    height: 1000px;
  }
  .home-page {
    
   
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
    margin: auto 0;
  }
  .image{
    height: 220px;
    
  }
  .ige{
    width: 500px;
    flex-wrap: wrap;
  }
  .form-container{
    width: 500px;
    height: 450px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    gap: 0px;
  }
  .input-group{
    height: 60px;
  }
  .input-group input{
    width: 420px;
  }
  .input-group select{
    width: 420px;
  }
  button.btn{
    width: 420px;
  }
  .content3{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .ttabout{
    padding-top: 0  ;
  }
  .icon-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    gap: 20px;
   
  }
  .red{
    width: 400px;
  }
  .blue{
    width: 400px;
  }
  .green{
    width: 400px;
  }
  .content4 {
    
    height: 1050px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .content5 {
   height: 1020px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .content6{
    height: 900px;
  }
  .icon-ct6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  .content7 {
    
    height: 900px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-7 {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .left {
    width: 520px;
  
  }
  .start{
    gap: 150px;
  }
  .content9{
    height: 2800px;
  }
  .pi img {
    width: 550px;
    height: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .content9 .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }
  .body1 {
    background-color: white;
    width: 550px;
    height: 800px;
    border-radius: 10px;
  }
  .body .contentss {
    width: 500px;
    text-align: center;
  }

.contents{
  width: 500px;
}
.contents p{
  width: 450px;

}
.content11{
  height: 1200px;
}
.cont-icon {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-direction: column;
  gap: 0px;
}
.content11 .i {
  
  width: 500px;
  

}
.nd{
  width: 400px;
}
.content12{
  height: 900px;
}
.content-12{
  gap: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  gap: 45px;
}
.content12 .card-shorter {
  width: 200px;
  height: 455px;
  
  
}
.content12 .card-longer {
  width: 200px;
  height: 485px;
  
}
.content-12 .words {
  width: 500px;
  
}
.content14 {
  width: 100%;
  height: 770px;
  background-color: #e52f37;
  display: flex;
  
  align-items: center;
  justify-content: center;
}
.content-14 {
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.group{
  display: flex;
  flex-direction: column;
}
.gr-colum{
  display: flex;
}

 .content13{
  height: 950px;
 }
.content13 .ques-ans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content15 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  
}

}